In [33]:
import pandas as pd

In [34]:
df = pd.read_csv('Melbourne_housing_FULL.csv')
df.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2,h,NaN,SS,Jellis,3/09/2016,2.5,3067.0,...,1.0,1.0,126.0,NaN,NaN,Yarra City Council,-37.8014,144.9958,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra City Council,-37.7996,144.9984,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra City Council,-37.8079,144.9934,Northern Metropolitan,4019.0
3,Abbotsford,18/659 Victoria St,3,u,NaN,VB,Rounds,4/02/2016,2.5,3067.0,...,2.0,1.0,0.0,NaN,NaN,Yarra City Council,-37.8114,145.0116,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra City Council,-37.8093,144.9944,Northern Metropolitan,4019.0

In [35]:
df.drop(['Address', 'Date', 'YearBuilt', 'Lattitude', 'Longtitude'], axis='columns', inplace=True)

In [36]:
df.head()

,Suburb,Rooms,Type,Price,Method,SellerG,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,CouncilArea,Regionname,Propertycount
0,Abbotsford,2,h,NaN,SS,Jellis,2.5,3067.0,2.0,1.0,1.0,126.0,NaN,Yarra City Council,Northern Metropolitan,4019.0
1,Abbotsford,2,h,1480000.0,S,Biggin,2.5,3067.0,2.0,1.0,1.0,202.0,NaN,Yarra City Council,Northern Metropolitan,4019.0
2,Abbotsford,2,h,1035000.0,S,Biggin,2.5,3067.0,2.0,1.0,0.0,156.0,79.0,Yarra City Council,Northern Metropolitan,4019.0
3,Abbotsford,3,u,NaN,VB,Rounds,2.5,3067.0,3.0,2.0,1.0,0.0,NaN,Yarra City Council,Northern Metropolitan,4019.0
4,Abbotsford,3,h,1465000.0,SP,Biggin,2.5,3067.0,3.0,2.0,0.0,134.0,150.0,Yarra City Council,Northern Metropolitan,4019.0

In [37]:
df.drop(['Method'], axis='columns', inplace=True)

In [38]:
df.drop(['Postcode'], axis='columns', inplace=True)

In [39]:
df.drop(['CouncilArea'], axis='columns', inplace=True)

In [40]:
df.drop(['Suburb'], axis='columns', inplace=True)

In [41]:
df.drop(['Regionname'], axis='columns', inplace=True)

In [42]:
df.head()

,Rooms,Type,Price,SellerG,Distance,Bedroom2,Bathroom,Car,Landsize,BuildingArea,Propertycount
0,2,h,NaN,Jellis,2.5,2.0,1.0,1.0,126.0,NaN,4019.0
1,2,h,1480000.0,Biggin,2.5,2.0,1.0,1.0,202.0,NaN,4019.0
2,2,h,1035000.0,Biggin,2.5,2.0,1.0,0.0,156.0,79.0,4019.0
3,3,u,NaN,Rounds,2.5,3.0,2.0,1.0,0.0,NaN,4019.0
4,3,h,1465000.0,Biggin,2.5,3.0,2.0,0.0,134.0,150.0,4019.0

In [43]:
fillna = ['Bedroom2', 'Bathroom', 'Car']

In [44]:
df[fillna] = df[fillna].fillna(0)
df.isna().sum()

Rooms                0
Type                 0
Price             7610
SellerG              0
Distance             1
Bedroom2             0
Bathroom             0
Car                  0
Landsize         11810
BuildingArea     21115
Propertycount        3
dtype: int64

In [45]:
df.shape

(34857, 11)

In [46]:
df['Landsize'] = df['Landsize'].fillna(df['Landsize'].mean())

In [47]:
df.isna().sum()

Rooms                0
Type                 0
Price             7610
SellerG              0
Distance             1
Bedroom2             0
Bathroom             0
Car                  0
Landsize             0
BuildingArea     21115
Propertycount        3
dtype: int64

In [48]:
df['BuildingArea'] = df['BuildingArea'].fillna(df['BuildingArea'].mean())
df.isna().sum()

Rooms               0
Type                0
Price            7610
SellerG             0
Distance            1
Bedroom2            0
Bathroom            0
Car                 0
Landsize            0
BuildingArea        0
Propertycount       3
dtype: int64

In [49]:
df.dropna(inplace=True)

In [50]:
df.shape

(27244, 11)

In [51]:
df.isna().sum()

Rooms            0
Type             0
Price            0
SellerG          0
Distance         0
Bedroom2         0
Bathroom         0
Car              0
Landsize         0
BuildingArea     0
Propertycount    0
dtype: int64

In [52]:
df.head()

,Rooms,Type,Price,SellerG,Distance,Bedroom2,Bathroom,Car,Landsize,BuildingArea,Propertycount
1,2,h,1480000.0,Biggin,2.5,2.0,1.0,1.0,202.0,160.2564,4019.0
2,2,h,1035000.0,Biggin,2.5,2.0,1.0,0.0,156.0,79.0000,4019.0
4,3,h,1465000.0,Biggin,2.5,3.0,2.0,0.0,134.0,150.0000,4019.0
5,3,h,850000.0,Biggin,2.5,3.0,2.0,1.0,94.0,160.2564,4019.0
6,4,h,1600000.0,Nelson,2.5,3.0,1.0,2.0,120.0,142.0000,4019.0

In [55]:
df = pd.get_dummies(df, drop_first=True)

In [57]:
df.head()

,Rooms,Price,Distance,Bedroom2,Bathroom,Car,Landsize,BuildingArea,Propertycount,Type_t,...,SellerG_hockingstuart/Harcourts,SellerG_hockingstuart/Marshall,SellerG_hockingstuart/Sweeney,SellerG_hockingstuart/Village,SellerG_hockingstuart/hockingstuart,SellerG_iHomes,SellerG_iOne,SellerG_iProperty,SellerG_iSell,SellerG_iTRAK
1,2,1480000.0,2.5,2.0,1.0,1.0,202.0,160.2564,4019.0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,1035000.0,2.5,2.0,1.0,0.0,156.0,79.0000,4019.0,0,...,0,0,0,0,0,0,0,0,0,0
4,3,1465000.0,2.5,3.0,2.0,0.0,134.0,150.0000,4019.0,0,...,0,0,0,0,0,0,0,0,0,0
5,3,850000.0,2.5,3.0,2.0,1.0,94.0,160.2564,4019.0,0,...,0,0,0,0,0,0,0,0,0,0
6,4,1600000.0,2.5,3.0,1.0,2.0,120.0,142.0000,4019.0,0,...,0,0,0,0,0,0,0,0,0,0

In [58]:
x = df.drop(['Price'], axis=1)

In [59]:
x

,Rooms,Distance,Bedroom2,Bathroom,Car,Landsize,BuildingArea,Propertycount,Type_t,Type_u,...,SellerG_hockingstuart/Harcourts,SellerG_hockingstuart/Marshall,SellerG_hockingstuart/Sweeney,SellerG_hockingstuart/Village,SellerG_hockingstuart/hockingstuart,SellerG_iHomes,SellerG_iOne,SellerG_iProperty,SellerG_iSell,SellerG_iTRAK
1,2,2.5,2.0,1.0,1.0,202.000000,160.2564,4019.0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,2.5,2.0,1.0,0.0,156.000000,79.0000,4019.0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,3,2.5,3.0,2.0,0.0,134.000000,150.0000,4019.0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,3,2.5,3.0,2.0,1.0,94.000000,160.2564,4019.0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,4,2.5,3.0,1.0,2.0,120.000000,142.0000,4019.0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34852,4,6.3,4.0,1.0,3.0,593.000000,160.2564,6543.0,0,0,...,0,0,0,0,0,0,0,0,0,0
34853,2,6.3,2.0,2.0,1.0,98.000000,104.0000,6543.0,0,0,...,0,0,0,0,0,0,0,0,0,0
34854,2,6.3,2.0,1.0,2.0,220.000000,120.0000,6543.0,1,0,...,0,0,0,0,0,0,0,0,0,0
34855,3,6.3,0.0,0.0,0.0,593.598993,160.2564,6543.0,0,0,...,0,0,0,0,0,0,0,0,0,0
34856,2,6.3,2.0,1.0,0.0,250.000000,103.0000,6543.0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [60]:
y = df['Price']
y.head()

1    1480000.0
2    1035000.0
4    1465000.0
5     850000.0
6    1600000.0
Name: Price, dtype: float64

In [61]:
from sklearn.model_selection import train_test_split

In [62]:
(xtrain, xtest, ytrain, ytest) = train_test_split(x, y, test_size=0.2)

In [63]:
from sklearn.linear_model import LinearRegression

In [64]:
lr = LinearRegression()

In [65]:
lr.fit(xtrain, ytrain)

LinearRegression()

In [66]:
lr.score(xtest, ytest)

-4864071289982.42

In [67]:
from sklearn.linear_model import Lasso

In [72]:
lsr = Lasso(alpha=5, max_iter=10000000, tol=0.0001)

In [73]:
lsr.fit(xtrain, ytrain)

Lasso(alpha=5, max_iter=10000000)

In [74]:
lsr.score(xtest, ytest)

0.5670640760589848

In [75]:
from sklearn.linear_model import Ridge

In [76]:
rdr = Ridge(alpha=5, max_iter=10000000, tol=0.0001)

In [77]:
rdr.fit(xtrain, ytrain)

Ridge(alpha=5, max_iter=10000000, tol=0.0001)

In [78]:
rdr.score(xtest, ytest)

0.5676824243305376